
<p>&nbsp;</p>
<div class="spacerBody">
    @Html.ActionLink("Create New Role", "RoleCreate") | @Html.ActionLink("Add Role to User", "RoleAddToUser")
    <h2>Role index</h2>
    @foreach (string s in Model)
    {
        <p>
            @s
            <span onclick=" return confirm('Are you sure to delete?') ">
                <a href="/Account/RoleDelete?RoleName=@s" class="delLink">Delete</a>
            </span>
        </p>
    }
</div>

<h1>Visa/editera roller</h1>
<div class="row">
    <div class="col-md-6">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Roll</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (string s in Model)
            {
                <tr>
                    <td>@s</td>
                    <td>
                        <span onclick=" return confirm('Are you sure to delete?') ">
                            <a href="/Account/RoleDelete?RoleName=@s" class="btn btn-warning">Delete</a>
                        </span>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a href="@Url.Action("RoleCreate", "Account")" id="btnRoleCreate" class="btn btn-link btn-lg">Skapa ny roll</a>
        <br/>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("RoleAddToUser", "Account")" id="btnRoleAddToUser" class="btn btn-link btn-lg">Koppla roll -> anv&auml;ndare</a>
    </div>
</div>