<div class="scaling-svg-container"
     style="padding-bottom: 64%/* 100% * 1108/1708 */">
    <svg xmlns:svg="http://www.w3.org/2000/svg"
         xmlns="http://www.w3.org/2000/svg"
         version="1.1"
         x="0"
         y="0"
         viewBox="0 0 1708 1108"
         preserveAspectRatio="none"
         class="scaling-svg">
        <!-- SVG content -->
        <image x="0" y="0" width="1708px" height="1108px"
               xlink:href='@Url.Content("~/Content/Images/Background.png")' />
        <image x="50" y="20" width="241px" height="220px"
               xlink:href='@Url.Content("~/Content/Images/7.gif")' />
        <image x="420" y="130" width="830px" height="212px"
               xlink:href='@Url.Content("~/Content/Images/Caption.gif")' />
        <image x="50" y="-20" width="1612px" height="376px"
               xlink:href='@Url.Content("~/Content/Images/Christmas_horizontal_wreath.gif")' />
        <image x="300" y="40" width="250px" height="222px"
               xlink:href='@Url.Content("~/Content/Images/birdsgullsSEAGULLSFLYING.gif")' />
        <image x="400" y="70" width="250px" height="222px"
               xlink:href='@Url.Content("~/Content/Images/birdsgullsSEAGULLSFLYING.gif")' />
        <image x="550" y="0" width="250px" height="222px"
               xlink:href='@Url.Content("~/Content/Images/birdsgullsSEAGULLSFLYING.gif")' />
        <image x="800" y="0" width="250px" height="222px"
               xlink:href='@Url.Content("~/Content/Images/birdsgullsSEAGULLSFLYING.gif")' />
        <image x="1050" y="0" width="250px" height="222px"
               xlink:href='@Url.Content("~/Content/Images/birdsgullsSEAGULLSFLYING.gif")' />
        <image x="50" y="50" width="366px" height="100px"
               xlink:href='@Url.Content("~/Content/Images/snail_animated.gif")' />
        <image x="70" y="200" width="225px" height="274px"
               xlink:href='@Url.Content("~/Content/Images/animated-santa-claus-541504.gif")' />
        <image x="100" y="600" width="210px" height="200px"
               xlink:href='@Url.Content("~/Content/Images/animated-santa-claus-pictures.gif")' />
        <image x="1000" y="297" width="145px" height="108px"
               xlink:href='@Url.Content("~/Content/Images/kissing-snowmen-source-80l-source_lzc.gif")' />
        <image x="440" y="250" width="170px" height="123px"
               xlink:href='@Url.Content("~/Content/Images/cutebells.gif")' />
        <image x="1140" y="250" width="170px" height="123px"
               xlink:href='@Url.Content("~/Content/Images/cutebells.gif")' />
        <image x="1490" y="987" width="141px" height="81px"
               xlink:href='@Url.Content("~/Content/Images/house15.gif")' />
        <image x="850" y="750" width="216px" height="288px"
               xlink:href='@Url.Content("~/Content/Images/animated-christmas-tree-1.gif")' />
        <image x="1250" y="650" width="393px" height="253px"
               xlink:href='@Url.Content("~/Content/Images/party-wrms.gif")' />
        <image x="1310" y="755" width="182px" height="254px"
               xlink:href='@Url.Content("~/Content/Images/animated_xmas-tree_animation.gif")' />
        <image x="729" y="431" width="431px" height="247px"
               xlink:href='@Url.Content("~/Content/Images/toy_train1.gif")' />
        <image x="150" y="731" width="208px" height="244px"
               xlink:href='@Url.Content("~/Content/Images/santa-and-mrs-claus-kiss-smiley-emoticon.gif")' />
        <image x="1520" y="250" width="63px" height="96px"
               xlink:href='@Url.Content("~/Content/Images/santa_g1.gif")' />
        <image x="1500" y="0" width="159px" height="187px"
               xlink:href='@Url.Content("~/Content/Images/67.gif")' />
        <image x="1250" y="450" width="104px" height="122px"
               xlink:href='@Url.Content("~/Content/Images/skiing-santa-smiley-emoticon.gif")' />
        <image x="520" y="770" width="100px" height="100px"
               xlink:href='@Url.Content("~/Content/Images/santa-dancing-1.gif")' />
        <image x="830" y="730" width="125px" height="120px"
               xlink:href='@Url.Content("~/Content/Images/525481vix5gr39a4.gif")' />
        <image x="780" y="830" width="66px" height="82px"
               xlink:href='@Url.Content("~/Content/Images/inodoro1.gif")' />
        <image x="1150" y="770" width="80px" height="91px"
               xlink:href='@Url.Content("~/Content/Images/santa.gif")' />
        <image x="700" y="320" width="111px" height="115px"
               xlink:href='@Url.Content("~/Content/Images/santa32b.gif")' />
        <image x="800" y="370" width="140px" height="175px"
               xlink:href='@Url.Content("~/Content/Images/Animated-Santa-Playing-Music.gif")' />
        <image x="1300" y="450" width="320px" height="246px"
               xlink:href='@Url.Content("~/Content/Images/SANTAonseesaw.gif")' />
        <image x="1500" y="730" width="130px" height="260px"
               xlink:href='@Url.Content("~/Content/Images/FLASHER.GIF")' />
        <image x="550" y="830" width="231px" height="250px"
               xlink:href='@Url.Content("~/Content/Images/d791ecae.png")' />
        <image x="500" y="550" width="135px" height="80px"
               xlink:href='@Url.Content("~/Content/Images/funny-santa-dance-smiley-emoticon.gif")' />

        <g id="slotNo_19" transform="translate(100,150)">
            <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
            <text x="15" y="70" font-family="Verdana" font-size="55" fill="dark-green">19</text>
        </g>
        <g id="slotNo_8" transform="translate(80,550)">
            <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
            <text x="35" y="70" font-family="Verdana" font-size="55" fill="dark-green">8</text>
        </g>
        <g id="slotNo_5" transform="translate(150,800)">
            <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
            <text x="35" y="70" font-family="Verdana" font-size="55" fill="dark-green">5</text>
        </g>
        <g id="slotNo_2" transform="translate(200,1000)">
            <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
            <text x="35" y="70" font-family="Verdana" font-size="55" fill="dark-green">2</text>
        </g>
        <g id="slotNo_12" transform="translate(300,250)">
            <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
            <text x="15" y="70" font-family="Verdana" font-size="55" fill="dark-green">12</text>
        </g>
        <g id="slotNo_17" transform="translate(400,650)">
            <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
            <text x="15" y="70" font-family="Verdana" font-size="55" fill="dark-green">17</text>
        </g>
        <g id="slotNo_3" transform="translate(550,950)">
            <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
            <text x="35" y="70" font-family="Verdana" font-size="55" fill="dark-green">3</text>
        </g>
        <g id="slotNo_10" transform="translate(600,400)">
            <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
            <text x="15" y="70" font-family="Verdana" font-size="55" fill="dark-green">10</text>
        </g>
        <g id="slotNo_21" transform="translate(650,550)">
            <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
            <text x="15" y="70" font-family="Verdana" font-size="55" fill="dark-green">21</text>
        </g>
        <g id="slotNo_6" transform="translate(700,750)">
            <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
            <text x="35" y="70" font-family="Verdana" font-size="55" fill="dark-green">6</text>
        </g>
        <g id="slotNo_22" transform="translate(750,1000)">
            <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
            <text x="15" y="70" font-family="Verdana" font-size="55" fill="dark-green">22</text>
        </g>
        <g id="slotNo_16" transform="translate(900,500)">
            <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
            <text x="15" y="70" font-family="Verdana" font-size="55" fill="dark-green">16</text>
        </g>
        <g id="slotNo_4" transform="translate(1000,950)">
            <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
            <text x="35" y="70" font-family="Verdana" font-size="55" fill="dark-green">4</text>
        </g>
        <g id="slotNo_11" transform="translate(1150,50)">
            <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
            <text x="15" y="70" font-family="Verdana" font-size="55" fill="dark-green">11</text>
        </g>
        <g id="slotNo_20" transform="translate(1100,350)">
            <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
            <text x="15" y="70" font-family="Verdana" font-size="55" fill="dark-green">20</text>
        </g>
        <g id="slotNo_7" transform="translate(1100,650)">
            <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
            <text x="35" y="70" font-family="Verdana" font-size="55" fill="dark-green">7</text>
        </g>
        <g id="slotNo_15" transform="translate(1250,750)">
            <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
            <text x="15" y="70" font-family="Verdana" font-size="55" fill="dark-green">15</text>
        </g>
        <g id="slotNo_14" transform="translate(1200,1000)">
            <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
            <text x="15" y="70" font-family="Verdana" font-size="55" fill="dark-green">14</text>
        </g>
        <g id="slotNo_9" transform="translate(1300,300)">
            <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
            <text x="35" y="70" font-family="Verdana" font-size="55" fill="dark-green">9</text>
        </g>
        <g id="slotNo_23" transform="translate(1400,650)">
            <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
            <text x="15" y="70" font-family="Verdana" font-size="55" fill="dark-green">23</text>
        </g>
        <g id="slotNo_1" transform="translate(1450,900)">
            <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
            <text x="35" y="70" font-family="Verdana" font-size="55" fill="dark-green">1</text>
        </g>
        <g id="slotNo_18" transform="translate(1500,100)">
            <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
            <text x="15" y="70" font-family="Verdana" font-size="55" fill="dark-green">18</text>
        </g>
        <g id="slotNo_13" transform="translate(1550,500)">
            <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
            <text x="15" y="70" font-family="Verdana" font-size="55" fill="dark-green">13</text>
        </g>
        <g id="slotNo_24" transform="translate(250,400)">
            <image x="0" y="0" width="200px" height="200px"
                   xlink:href='@Url.Content("~/Content/Images/4623968305.gif")' />
            <rect x="0" y="0" width="200" height="200" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
            <text x="65" y="115" font-family="Verdana" font-size="55" fill="dark-green">24</text>
        </g>
    </svg>
</div>

<!-- Modal -->
<div class="modal fade" id="slotContentModal" tabindex="-1" role="dialog" aria-labelledby="slotContentModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="txtSlotNumber"></h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-12">
                        <img src='@Url.Content("~/Content/Images/2585635lahg48i98w.gif")' class="img-responsive" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <img id="imgWhereToFindGift" class="img-responsive" />
                    </div>
                    <div class="col-sm-6">
                        <h3>Här är en rolig lek!</h3>
                        <p>
                            Bilden till vänster visar en plats där ett paket finns. Paketet är till dig! 
                            Om du inte ser vad bilden föreställer kan du trycka på fuskknappen nedanför så får du en liten beskrivning.
                            <br /><br />
                            Om du bara kan se en sur gubbe, som ändlöst vandrar omkring, får du vänta några dagar till innan du kan öppna luckan!
                            <br /><br />Puss!
                        </p>
                        <hr />
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                            <img id="imgCheater" class="img-responsive" src="~/Content/Images/looking_over_cheating_anim_300_clr_10038.gif" />&nbsp;Fuska!
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p id="txtWhereToFindGiftCheat"></p>
                                        <a href="#" class="btn btn-success closeall">Göm text</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        $('#slotContentModal').on('show.bs.modal', function () {
            $('.modal .modal-body').css('overflow-y', 'auto');
            $('.modal .modal-body').css('max-height', $(window).height() * 0.7);
        });
    </script>
    <script>
        $('.closeall').click(function () {
            $('.panel-collapse.in')
                .collapse('hide');
        });

        $("svg").find("g").click(function () {

            var slotHTML_Id = this.id;
            ajaxLoader.showPleaseWait();

            $.post('@Url.Content("~/Home/")' + "GiveMeSlotContent", { HTML_Id: slotHTML_Id })
                .done(function (data) {

                    $('.panel-collapse.in').collapse('hide');
                    $('#txtSlotNumber').text('Lucka nummer ' + data.Number);
                    $('#txtWhereToFindGiftCheat').text(data.SlotMessage);
                    $('#imgWhereToFindGift').attr('src', '@Url.Content("~/Content/Images/Slots/")' + data.ImageURL);

                    $('#slotContentModal').modal('show');
                })
                .always(function () {
                    ajaxLoader.hidePleaseWait();
                });
        });
    </script>
    

    <script>
        var ajaxLoader;
        ajaxLoader = ajaxLoader || (function () {
            var pleaseWaitDiv = $('<div class="modal fade" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="basicModal" aria-hidden="true" tabindex="-1">' +
                '<div class="modal-dialog">' +
                '<div class="modal-content">' +
                '<div class="modal-header">' +
                '<h1>Hämtar lucka</h1>' +
                '</div>' +
                '<div class="modal-body">' +
                '<img src="/Content/Images/DancingSanta2.gif" />' +
                '</div>' +
                '</div>' +
                '</div>' +
                '</div>');
            return {
                showPleaseWait: function () {
                    pleaseWaitDiv.modal();
                },
                hidePleaseWait: function () {
                    pleaseWaitDiv.modal('hide');
                },

            };
        })();
    </script>
}


